/* STYLE GUIDE AND NOTES
Style guide:
Purple: #51387e
Silver: #666666
Charcoal: #333333;
Dark Grey: #180527;
White: #FFFFFF
Off-White/super light grey: #f4f7fb
*/

figure.caption-img img, img,
.menu-item, ul.menu li {
  border-radius: 15px;
}