@import "compass/css3";

canvas {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:-100;
}

button, .node, input,
.block-local-tasks-block,
.node--view-mode-teaser,
/*.path-node #content-wrapper,*/
.block-system-breadcrumb-block .content,
ul.tabs li {
  opacity: 90%;
}

#main-navigation,
/*#block-dorquenet-page-title, */
.menu-item, ul.menu, #main-content .col-md-8 {
  opacity: 95%;
}

/* Z-indexing */

/*
button, img, input, label,
.node, ul.tabs, ul.menu,
.views-row, .button,
#block-dorquenet-page-title,
.block-page-title-block,
.block-local-tasks-block,
.menu-item,
.block-system-menu-block,
.node--type-page,
.block-system-main-block .node,
.block-system-breadcrumb-block .content,
ul.tabs li, .col-md-8 {
z-index: 100;
position:relative;
}
*/

button, img, input, label,
.node, ul.tabs, ul.menu, .button,
.menu-item, ul.tabs li,
.col-md-8, .block,
.block-system-breadcrumb-block,
.node--view-mode-teaser, .path-node #content-wrapper {
z-index: 100;
position:relative;
}
